<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
	<bean id="std" class="com.test.Student">
		<property name="id" value="3"></property>
		<property name="name" value="Bhishma"></property>
		<property name="skills">
			<list>
				<value>Skilled Warrior</value>
				<value>Man of Words</value>
				<value>Honest</value>
			</list>
			
<!-- 			<array> -->
<!-- 				<value></value> -->
<!-- 			</array> -->
			
<!-- 			<map> -->
<!-- 				<entry key="" value=""></entry> -->
<!-- 				<entry key="ref" value="ref"></entry> -->
<!-- 			</map> -->
			
		</property>
		<property name="college" value="Parshuram Gurukul"></property>
	</bean>
	
	
</beans>
