<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
	<bean id="war1" class="com.test.Warrior">
		<property name="id" value="101"></property>
		<property name="name" value="Arjun"></property>
		<property name="clan" value="pandav"></property>
		<property name="rank" value="Ati Maharathi"></property>
	</bean>
	
	<bean id="war2" class="com.test.Warrior">
		<constructor-arg name="id" value="201"></constructor-arg>
		<constructor-arg name="name" value="Duryadhan"></constructor-arg>
		<constructor-arg name="clan" value="kaurav"></constructor-arg>
		<constructor-arg name="rank" value="Maharathi"></constructor-arg>
	</bean>

</beans>
